# Change the name of this file to .env after updating it!

############
# Generating Credentials
# OpenSSL: Available by default on Linux/Mac via command `openssl rand -hex 32`
#   For Windows, use 'WSL2', 'Git Bash' terminal installed with git or from cmd
#   run the command: python -c "import secrets; print(secrets.token_hex(32))"
# 
# Password: Use Python command to generate 16-character strong password:
#   python3 -c "import secrets;import string; alphabet = string.ascii_letters + string.digits;\
#               password = ''.join(secrets.choice(alphabet) for i in range(16));\
#               print(password)"
#
# JWT Tokens: Use https://jwtsecrets.com/#generator to generate keys and tokens
#   ranging from 8 to 128 characters long.
############

############
# Supabase
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
# Read these docs for any help: https://supabase.com/docs/guides/self-hosting/docker
# For the JWT Secret and keys, see: https://supabase.com/docs/guides/self-hosting/docker#generate-api-keys
# For the other secrets, see: https://supabase.com/docs/guides/self-hosting/docker#update-secrets
# You can really decide any value for POOLER_TENANT_ID like 1000.

# Note that using special symbols (like '%') can complicate things a bit for your Postgres password.
# If you use special symbols in your Postgres password, you must remember to percent-encode your password later if using the Postgres connection string, for example, postgresql://postgres.projectref:p%3Dword@aws-0-us-east-1.pooler.supabase.com:6543/postgres
############

JWT_SECRET=your-super-secret-jwt-token-with-at-least-40-characters-long # use JWT Tokens
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=your-super-secret-password # use Password
POOLER_TENANT_ID=your-tenant-id

############
# Supavisor
############

POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
SECRET_KEY_BASE=UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq
VAULT_ENC_KEY=your-32-character-encryption-key # use JWT Tokens
# Pool size for internal metadata storage used by Supavisor
# This is separate from client connections and used only by Supavisor itself
POOLER_DB_POOL_SIZE=5

############
# Postgres
############

POSTGRES_PORT=5432   # Supabase 
POSTGRES_DB=postgres # Supabase
POSTGRES_HOST=db     # Supabase
# POSTGRES_DB=n8n    # n8n
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-super-secret-postgres-password # use Password

############
# Flowise
############

FLOWISE_USERNAME=ai_suite_user
FLOWISE_PASSWORD=your-super-secret-postgres-password # use Password

############
# n8n 
############

N8N_ENCRYPTION_KEY=super-secret-key             # use OpenSSL
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret # use OpenSSL

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true # Permissions 0644 for n8n settings file /home/node/.n8n/config are too wide.
N8N_RUNNERS_ENABLED=true                   # https://docs.n8n.io/hosting/configuration/task-runners/
N8N_BLOCK_ENV_ACCESS_IN_NODE=false         # https://docs.n8n.io/hosting/configuration/environment-variables/security/
N8N_GIT_NODE_DISABLE_BARE_REPOS=true       # https://docs.n8n.io/hosting/configuration/environment-variables/security/
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

# When running OLLAMA in the Host and N8N in Docker:
# Use OLLAMA_HOST=host.docker.internal:11434
OLLAMA_HOST=host.docker.internal:11434

############
# Open-WebUI
############

# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL.
# When running OLLAMA in the Host and Open-WebUI in Docker:
# Use OLLAMA_BASE_URL=host.docker.internal:11434
OLLAMA_BASE_URL=http://localhost:11434

# Set if conecting to Ollama using OpenAI API connection
# OPENAI_API_BASE_URL=http://localhost:11434
# OPENAI_API_KEY=<leave blank>
OPENAI_API_BASE_URL=
OPENAI_API_KEY=

# For production, you should only need one host as fastapi serves the
# Open WebUI svelte-kit frontend and backend from the same host and port.
# You can set something like: CORS_ALLOW_ORIGIN=http://localhost:8080
CORS_ALLOW_ORIGIN='*'

# For production, set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# If running Open WebUI in an offline environment, set to 1
# to prevent attempts to download models from the internet.
# HF_HUB_OFFLINE=1

# Do not track
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
