.env
flowise/
supabase/
searxng/
neo4j/
caddy/
opencode/*
!opencode/opencode.jsonc
!opencode/run_opencode_docker.py
open-webui/functions/
open-webui/piplines/
open-webui/tools/
n8n/shared/
shared-backup/
volumes/
.env.test
ollama_launch.vbs