.env
.env.test
*.log
authelia/*
!authelia/configuration.yml
!authelia/db/schema-authelia.sh
caddy/*
!caddy/addons
!caddy/Caddyfile
flowise/
llama.cpp/
n8n/shared/
neo4j/
nginx/*
!nginx/addons
ollama/
ollama_launch.vbs
opencode/*
!opencode/opencode.jsonc
!opencode/run_opencode_docker.py
open-webui/functions/
open-webui/piplines/
open-webui/tools/
searxng/
supabase/
shared-backup/
url-parser
yq
volumes/
