.ac.env
.env
.env.test
.n8n.*
.operation
*.log*
*.ps1
*.bak.*
access/authelia/*
!access/authelia/db
!access/authelia/configuration.yml
access/caddy/*
!access/caddy/addons
!access/caddy/Caddyfile
access/hosts
access/nginx/*
!access/nginx/addons
access/url-parser
access/yq
flowise/
llama.cpp/
n8n/shared/
neo4j/
ollama/
ollama_launch.vbs
opencode/*
openclaw.json
!opencode/opencode.jsonc
!opencode/run_opencode_docker.py
open-webui/functions/
open-webui/piplines/
open-webui/tools/
searxng/
supabase/
shared-backup/
state/fingerprints
volumes/